<ion-view view-title="Login" hide-back-button="true">
  <ion-content class="padding-top">
    <!-- [START facebook_button] -->
    <br></br>
    <div class='fb-login-button'>
      <button class="mdl-button mdl-js-button mdl-button--raised" id="quickstart-sign-in" ng-click="FBSignIn()">Log in with Facebook</button>
    </div>

    <br></br>

    <!-- [END facebook_button] -->
    <div style="text-align:center;"> --OR-- </div>


    <div>
      <form>
        <div class="list">
          <label class="item item-input">
            <input type="email" ng-model="email" placeholder="Email">
          </label>
          <label class="item item-input">
            <input type="password" ng-model="password" placeholder="Password">
          </label>
        </div>
        <button type="button" class="button button-block button-positive" ng-click="emailSignIn(email, password)">
          Login
        </button>
        <button type="button" class="button button-block button-positive" ng-click="rerouteToRegistration()">
          Register
        </button>
      </form>
    </div>
  </ion-content>
</ion-view>
