<ion-view view-title="Register">
  <ion-content class="padding-top">

    <div>
      <form>
        <div class="list">
          <label class="item item-input">
            <input type="email" ng-model="email" placeholder="Email">
          </label>
          <label class="item item-input">
            <input type="password" ng-model="password" placeholder="Password">
          </label>
        </div>
        <button type="button" class="button button-block button-positive" ng-click="emailRegister(email, password)">
          Create User
        </button>
      </form>
    </div>
  </ion-content>
</ion-view>
