<ion-view view-title="Welcome!" hide-back-button="true">
  <ion-content scroll="false">
  <ion-slides options="options" slider="data.slider">
    <ion-slide-page>
      <div><h1>LOSE DOGGO</h1></div>
    </ion-slide-page>
    <ion-slide-page>
      <div><h1>REPPORT LOST DOGGO</h1></div>
    </ion-slide-page>
    <ion-slide-page>
      <div><h1>FIND DOGGO</h1></div>
      <button class="button button-large button-positive" ng-click="finishWelcomeSlides()">
        Let's do it!
      </button>
    </ion-slide-page>
  </ion-slides>
</ion-content>
</ion-view>
