.swiper-slide {
  padding-top: 120px;
  color: #000;
  background-color: #fff;
  text-align: center;
}

/* active */

.fb-login-button{
  margin: 0 auto;
  text-align:center;
}

input.ng-dirty.ng-invalid{
  color: red;
}

.success{
  color: black;
}
